<div class="row">
  <div class="col-md-3"></div>
  <div class=" col-md-6 text-center">
    <div class="form-group">

      <label for="temperature">Temperature</label>
      <input #temperature class="form-control" id="temperature" name="temperature" aria-describedby="temperatureHelp" placeholder="Temperature to be converted">

      <label for="convertedToText">Converted to</label>
      <input class="form-control" #convertedTo id="convertedTo" placeholder="Please enter...">
      <label for="convertedToText">Is:</label>
      <h3>{{convertedTemp}}</h3>
      <button (click)="onSubmit(temperature.value, convertedTo.value)" type="submit" class="btn btn-primary">Convert</button>
    </div>

  </div>
</div>
